//Header, footer, div classes: molecules
@use "../abstracts/index-abstracts" as ia;


.intro header{
    margin-bottom: 10px;
    width: auto;
    height: auto;
    background-image: url("https://raw.githubusercontent.com/EmToHat/zen-garden-project/main/src/sass/assets/future2.jpg");
  }

  .intro header h1 {
    background-image: linear-gradient(
      -135deg,
      ia.$white-clr 0%,
      ia.$pink-clr 35%,
      ia.$blue-clr 67%,
      ia.$cyan-clr 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    font-size: 4rem;
  }

@keyframes textclip {
    to {
      background-position: 100% center;
    }
  }
    
//section .intro 
//summary class
.summary {
    margin-bottom: 3.5rem;

    p {
        @include ia.paragraph-style();
    }

    p + p {
        padding-block: 1rem;
        a {
            font-weight: bold;
        }
    }
}  

.page-wrapper {
    margin-inline: auto;
    text-align: center;
    background-color: ia.$blue-clr;
}

//preamble
.preamble {
    margin-bottom: 3.5rem;
}

footer { 
    background-color: ia.$dark-blue-clr;
    margin-block: 1.2rem;
    padding: 1.2rem;
    // width: 100vw;
    // position: absolute;
    // top: 755%;

    // a {
    //     margin: 0.5rem;
    //     font-size: 1.5rem;
    //     font-family: $orbitron-font;
    //     color: $title-color;
    // }
}

.zen-resources ul .zen-translations a {
    padding-bottom: 5rem;
}